@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    @apply text-size-14 overflow-y-scroll;
    margin: 0;
}

.page-wrapper {
    @apply max-w-card mx-auto py-8;
}

/*******************TS-CARD**********************/
.ts-card {
    @apply border border-slate-300 rounded-ts-md;
    @apply w-full max-w-card py-6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.ts-card-footer {
    @apply space-x-2 border-t border-slate-300 pt-5 px-6;
}

/*******************TS-BADGE**********************/
.ts-badge {
    @apply border text-white rounded-ts-lg;
    @apply inline-block;
    padding: 2px 12px;
}

.ts-badge.frontend {
    @apply border-indigo-600 text-indigo-900 bg-indigo-100;
}

.ts-badge.backend {
    @apply border-sky-500 text-sky-600 bg-sky-100;
}

.ts-badge.career {
    @apply border-amber-500 text-amber-600 bg-orange-50;
}

/*******************TS-BUTTON-MAIN**********************/
.ts-button-main {
    @apply inline-block;
    @apply outline-0 bg-sky-600 text-white;
    @apply px-4 py-1 rounded-ts-sm;
}

.ts-button-main:active {
    @apply bg-sky-900;
}

.ts-button-main[disabled] {
    @apply pointer-events-none bg-gray-400 text-gray-100;
}

/*******************TS-BUTTON-SECONDARY**********************/
.ts-button-secondary {
    @apply inline-block;
    @apply outline-0 border border-sky-600 text-sky-600;
    @apply px-4 py-1 rounded-ts-sm;
}

.ts-button-secondary:active {
    @apply bg-sky-100;
}

/*******************TS-INPUT**********************/
.ts-input {
    @apply border border-slate-300 outline-0 rounded-ts-sm min-h-input;
    @apply px-4;
}

.ts-input:focus {
    @apply ring-blue-200 ring-offset-1 ring-2;
}

.ts-input.invalid {
    @apply border-red-400;
}

/*******************TRANSITIONS**********************/
.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: scale(0.8);
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
    transition: all 0.3s ease-in;
}

.slide-fade-enter-to,
.slide-fade-leave-from {
    transform: scale(1);
    opacity: 1;
}

.route-enter-from,
.route-leave-to {
    opacity: 0;
}

.route-enter-active {
    transition: all 0.3s ease-out;
}

.route-leave-active {
    transition: all 0.3s ease-in;
}

.route-enter-to,
.route-leave-from {
    opacity: 1;
}
