@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

/*******************TS-BASE-CARD**********************/
.ts-base-card {
    @apply border border-slate-300 rounded-ts-md;
    @apply w-full max-w-card py-3 px-5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

/*******************BASE-BADGE**********************/
.ts-base-badge {
    @apply border text-white rounded-ts-lg;
    @apply inline-block;
    padding: 2px 12px;
}

.ts-base-badge.frontend {
    @apply border-indigo-900 text-indigo-900 bg-indigo-100;
}

.ts-base-badge.backend {
    @apply border-sky-500 text-sky-500 bg-sky-100;
}

.ts-base-badge.career {
    @apply border-amber-500 text-amber-500 bg-orange-50;
}

.ts-button-main {
    @apply inline-block;
    @apply outline-0 bg-sky-500 text-white;
    @apply px-5 py-2 rounded-ts-sm;
}
